/* Genaral style setting*/
html,
body,
header,
main,
footer {
  margin: 0px;
  padding: 0px;
  border: none;
}

html,
body,
header,
main,
footer,
aside,
div {
  display: block;
}
:root {
  --page-padding: 100px;
  --main-height:300px;
}

.container {
  margin: 0px;
  padding: 0px var(--page-padding);
  border: 0px;
  position: relative;
}
/*--------------------------------------*/
/* Header style setting*/
/* Using float left anh right to arrange ICON and ACCOUNT*/
.div_header {
  width: 100%;
  background-color: rgb(2, 32, 36);
  height: 44px;
}

.div_header_icon{
  width: 20%;
  float: left;
  margin: 0px;
  padding:5px 0px;
}

.div_header_account{
  width:15%;
  float: right;
  margin: 0px;
  padding:7px 0px;
}

.div_header h1 {
  margin: 0px 0px;
  padding: 0px 0px;
  color: white;
  text-align: left;
  font-size: 30px;
}

.div_header p {
  margin: 0px;
  padding: 4px 0px;
  color: white;
  text-align: right;
  font-size: 19px;
}
/*--------------------------------------*/
/* Main style setting*/
.div_main {
  position: relative;
  width: 100%;
  height: var(--main-height);
}

/*Sidebar*/
.sidebar {
  position: relative;
  float: left;
  width: 20%;
  height: var(--main-height);
  background-color: rgb(181, 236, 238);
}

.sidebar p {
  font-size: 20px;
  margin: 0px;
  padding: 4px 0px;
}

/*Sidebar menu */
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.sidebar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li a.active {
  background-color: #034a57;
  color: white;
}

.sidebar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*Main content style setting*/
.main-content {
  position: relative;
  float: right;
  width: 80%;
  height: var(--main-height);
  background-color: rgb(232, 243, 243);
}

.main-content p {
  font-size: 20px;
  margin: 0px;
  padding: 4px 10px;
}
/*Footer style setting*/
.div_footer {
  width: 100%;
  float: left;
  padding: 0px;
  position: relative;
  color: rgb(218, 214, 214);
  background-color: rgb(52, 52, 54);
}

.div_footer p {
  margin: 10px 0px;
}
